/* Header styling */
header {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #dd3b3b;
    color: white;
    text-align: center;
}

/* Navigatie styling */
nav {
    background-color: #5dadb8;
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}