/* Basisstyling voor alles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  [class*="col-"] {
        float: left;
        padding: 15px;
    }
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    
body {
    background: linear-gradient(90deg, #098879, #b3e5fc);
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Header styling */
header {
    margin: 0;
    padding: 50px;
    text-align: center;
}


 header {
        padding: 20px;
        }
    

/* Navigatie styling */
nav {
    color: white;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

nav ul li {
    padding: 1rem;
    list-style-type: none;
 }

a {
    color: rgb(53, 52, 52);
    text-decoration: none;
}

 a #home-link{
    display: flex;
    justify-content: center;
    align-self: left;
}

a:hover {
    text-decoration: underline;
}

/* Main styling */
main {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 2rem 2rem;
}

h1 , h2{
    color: #098879;
    text-shadow: 0 1px 1px #080808;
}

#welkom {
    text-align: center;
    margin-bottom: 2rem;
}

 /* Mijn foto styling op de homepagina */
#mijn-foto-home {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    border: solid 2px #64e2cdef;
    box-shadow: 10px 4px 20px rgb(0, 0, 0);
}

.intro {
    margin: 2rem 0;
    background-color: #f9f9f91a;
    font-size: 24px;
}

.sec-main {
    padding: 3rem 1rem;
    text-align: center;
}
                /* Hoofdtekst styling in de main section */
.sec-main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.sec-foto , .ik-ben{
    padding: 1rem;
    margin: 1rem;
}

.ik-ben{
    display: block;
}
                /* De divs styling van de pagina's */
.project , .contact ,.intro {
    padding: 2rem;
    margin: 10px;
    background-color: #f9f9f91a;
}
                /* Paragrafen styling van de pagina's */
.project ul, .contact ul ,.intro ul {
    list-style-type: none;
    padding: 0;
}
                /* Links in de paragrafen styling van de pagina's*/
.project a, .contact a {
    text-decoration: none;
}

.project a:hover , .contact a:hover ,.intro a:hover {
    text-decoration: underline;
}

/* Mijn fotostyling op de 'Over mij'-pagina */
#mijn-foto {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    border: solid 2px #64e2cdef;
    box-shadow: 10px 4px 20px rgb(0, 0, 0);
}

/* Formulier styling */
                /* Algemene formulier styling */
form { 
    max-width:420px; 
    margin:50px auto; 
}

                /* Input velden styling */
.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #8dc4b1;
  border:2px solid #3a3636;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}


            /* Styling van invulveld zodra deze geklikt is*/
.feedback-input:focus { border:2px solid #1f3f3a; }

            /* Tekstvak styling */
textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

              /* Verstuurknop styling */
[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#7dc9b0;
  border-radius:5px;
  border:2px solid #3a3636;
  cursor:pointer;
  color:rgb(24, 23, 23);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover { 
    background:#5da19cfb; 
}

/* Footer styling */
footer {
    background-color: #9c9c9c2a;
    color:#333;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    margin: 0;
    width: 100%;
}

/* Footer homepagina styling */
 #footer-home {
    text-align: center;
    padding: 1rem;
    margin: 0;
    width: 100%;
}

/* Media queries voor responsieve styling vanaf tabletgrootte*/
@media screen and (min-width: 768px) {
    
    header {
        padding: 20px;
    }

    /* Navigatie styling */
    nav {
        color: white;
        font-size: 20px;
        padding: 10px;
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
    }

    a {
        color: rgb(53, 52, 52);
        text-decoration: none;
    }
    /* Nog niet zeker over deze link styling*/
    a #home-link{
        display: flex;
        justify-content: center;
        align-self: left;
    }

    a:hover {
        text-decoration: underline;
    }

    #mijn-foto-home:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
    main {
        font-family: Arial, sans-serif;
        font-size: 20px;
        padding: 4rem 2rem;
    }

    .sec-main-over-mij {
    display: grid;
}

#mijn-foto{
    display: grid;
    border: solid red;
    max-width: 45%;
}

#wie-ben-ik{
    border: solid black;
    display: grid;
    max-width: 45%;
}
/* Footer styling */
footer {
    background-color: #9c9c9c2a;
    color:#333;
    text-align: center;
    bottom: 0;
    margin: 0;
}

/* Footer homepagina styling */
 #footer-home {
    position: relative;
    text-align: center;
    margin: 0;}

}