/* Basisstyling voor alles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styling */
header {
    margin: 0;
    padding: 50px;
    background-color: #42b9a5ef;
    color: white;
    text-align: center;
}

/* Navigatie styling */
nav {
    background-color: #7b8383;
    color: white;
    font-size: 24;
    padding: 10px;
    border: solid 1px #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Main styling */
main {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.sec-main {
    background-color: #d4eee6b4;
    padding: 3rem 1rem;
    text-align: center;
}

.project , .contact {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.project ul, .contact ul {
    list-style-type: none;
    padding: 0;
}
.project a, .contact a {
    color: #42b9a5ef;
    text-decoration: none;
}
.project a:hover , .contact a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}