/* Basisstyling voor alles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("../Afbeeldingen/122255-OQ9POF-291.jpg");
    color: #333;
    font-size: 16px;
}

/* Header styling */
header {
    margin: 0;
    padding: 50px;
    background-image: url("../Afbeeldingen/122255-OQ9POF-291.jpg");
    color: rgb(95, 92, 92);
    text-align: center;
}

/* Navigatie styling */
nav {
    background-color: #e9ecec31;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: solid 1px #9e9b9bf5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}

 a #home-link{
    display: flex;
    justify-content: center;
    align-self: left;

    
}

a:hover {
    text-decoration: underline;
}

/* Main styling */
main {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.sec-main {
    padding: 3rem 1rem;
    text-align: center;
}
/* Nog niet zeker of de onderstaande styling ga gebruiken */
.project , .contact ,.intro {
    background-color: #f0f0f018;
    padding: 20px;
    margin: 10px;
}
    */
.project ul, .contact ul ,.intro ul {
    list-style-type: none;
    padding: 0;
}
.project a, .contact a {
    color: #42b9a5ef;
    text-decoration: none;
}
.project a:hover , .contact a:hover ,.intro a:hover {
    text-decoration: underline;
}form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #3a3636;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #1f3f3a; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#7dc9b0;
  border-radius:5px;
  border:2px solid #3a3636;
  cursor:pointer;
  color:rgb(24, 23, 23);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#6fd19bfb; }

/* Mijn foto */
#mijn-foto {
    max-width: 20%;
    height: auto;
    border-radius: 50%;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}